html {background: radial-gradient(farthest-corner at right,#b7b7b7b7,#44003d);
      background-repeat: no-repeat;
      font-family:'Poppins';
      width: 100%; height: 275%; color: white;}

.Image {height: 80%; width: 80%;
         border: solid 2px black;
         border-radius: 50px;}

@media screen and (min-height: 1000px){
  html {height: 400%;}
}